.flight-list {
  width: 90%;
  font-family: "Poppins", sans-serif;
  margin-bottom: auto;
}

/* Flight Card */
.flight-card {
  border: 1px solid #fff;
  border-radius: 12px; 
  margin-bottom: 30px; 
  padding: 20px; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
  transform: scale(1.00); 
}

.flight-card:hover {
  transform: scale(1.02); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.flight-card .text-purple {
  color: #7126b5;
}

.flight-header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: auto;
}

/* Flight Timing */
.flight-timing {
  margin: 0;
}

.flight-timing .row {
  margin: 0;
}

.flight-timing .text-center {
  padding: 10px 0;
}

.flight-timing .fw-bold {
  font-size: 16px;
}

.flight-timing small {
  font-size: 12px;
  color: #000;
}

.flight-schedule hr {
  width: 60px;
  border: 1px solid #ccc;
}

/* Flight Details */
.flight-details {
  background-color: #fff;
  border-top: 1px solid #ddd;
  padding: 16px;
}

/* Buttons */
.button-select {
  background-color: #7126b5;
  color: white;
  border-radius: 10px;
  border: none;
  width: 100%; 
  max-width: 120px; 
  text-align: center;
  margin-left: auto;
  margin-bottom: 10px;
}

.button-select:hover {
  background-color: #5a32a1;
}

/* Logo */
.flight-logo {
  max-width: 50px;
  height: auto;
}

.flight-logo-small {
  max-width: 40px;
  height: auto;
}

/* No Data */
.no-data-container {
  padding: 20px;
  text-align: center;
}

.no-data-image {
  max-width: 100%;
  height: auto;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .flight-card {
    margin-right: 0;
    align-items: center; 
    justify-content: center;
  }

  .flight-header {
    flex-direction: column;
    text-align: center;
  }

  .flight-timing {
    text-align: center;
  }

  .flight-timing .fw-bold {
    font-size: 14px; 
  }

  .flight-timing small {
    font-size: 12px;
  }

  .button-select {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .flight-logo {
    max-width: 40px; 
  }

  .flight-logo-small {
    max-width: 30px;
  }

  .flight-timing .fw-bold {
    font-size: 12px;
  }

  .flight-timing small {
    font-size: 10px;
  }

  .text-purple {
    font-size: 14px;
  }
}
