.sorting-button {
  position: relative;
  display: inline-block;
  font-family: "Poppins";
  margin-right: 9rem;
}

.sort-main-button {
  background-color: white;
  color: #7126b5;
  border: 1px solid #7126b5;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sort-main-button .caret-icon {
  margin-left: 8px;
  font-size: 14px;
}

.sort-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 350px;
}

.sorting-button:hover .sort-dropdown {
  display: block;
}

.sort-option {
  padding: 10px 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #555;
}

.sort-option:hover {
  background-color: #f7f7f7;
}

.sort-option.selected {
  background-color: #7126b5;
  color: white;
}

.sort-option:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.sort-apply-button {
  background-color: #7126b5;
  color: white;
  border-radius: 10px;
  border: none;
  width: 90px;
  height: 40px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: 10px;
}

.sort-apply-button:hover {
  background-color: #5e1e98;
}
