/* BreadcrumbNav.module.css */
.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
  }
  
  .breadcrumbItem a {
    text-decoration: none; 
    color: #000000;
    cursor: pointer;
    font-weight: bold;
  }
  
  .disabledBreadcrumb a {
    text-decoration: none;
    color: #8A8A8A;
    cursor: default;
    font-weight: bold;
    pointer-events: none; /* Disable clicks */
  }
  
  .breadcrumbSeparator {
    margin: 0 7px;
    color: #8A8A8A;
    font-weight:900;
  }
  
    